.leads-form {
  padding: 2em;
  min-width: 20em;
  width: 50%;
  margin: 0 auto 1em;
}
.leads-form label {
  display: block;
  margin-bottom: 1em;
}
.leads-form-title {
  margin: 0 0 -0.1em;
  padding: 0;
  text-align: center;
  font-weight: normal;
  font-size: var(--large);
}
.leads-form-subtitle {
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 1em;
}
.leads-form-subtitle>h3 {
  margin: 0;
  padding: 0 1em;
}
.leads-form-subtitle>hr {
  flex-grow: 1;
  border-color: red;
}
.leads-form-label {
  padding: 0.25em;
}
.leads-form-input {
  width: 100%;
  padding: 1em;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1rem;
  color: black;
  border: 1px #DDD solid;
}
.leads-form-input:focus {
  outline: none;
  border: 1px #444 solid;
}
.submit-button{
  background: var(--primary-color);
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  margin: 0 0.25em 0.25em;
  padding: 0.5em 1em;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 300ms;
  border: none;
  font-family: 'Rajdhani', sans-serif;
}
.submit-button:hover {
  opacity: 0.8;
}
.leads-form-error{
  color: red;
}