.contact-bar {
  background: var(--primary-color);
  text-align: right;
  padding: 0.5em;
}

.link {
  color: var(--lt-gray);
  display: inline-block;
  text-decoration: none;
  margin-right: 3em;
  font-weight: bold;
  transition: color 300ms;
}

.link:hover {
  color: var(--white);
}