.properties-content {
  padding: 2em;
  text-align: center;
}
.property-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem;
  justify-content: center;
  text-align: left;
}
.property-cards>div {
  flex-basis: 20em;
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 30em;
}