.button {
  background: var(--primary-color);
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  margin: 0 0.25em 0.25em;
  padding: 0.5em 1em;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 300ms;
}
.button:hover {
  opacity: 0.8;
}