.info {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.info-title {
  margin-bottom: 0.5em;
}
.info-text-container {
  flex-grow: 1;
  flex-basis: 300px;
  padding: 0 2em 1em;
}
.info-text {
  line-height: 1.75em;
}
.info-video-container{
  background: #000;
  flex-basis: 400px;
  flex-shrink: 0;
  margin: 0 3em 2em;
}
.reverse {
  flex-direction: row-reverse;
}

@media (min-width: 768px) {
  .info-video-container{
    margin: 2em 3em;
  }
}