.splash-container {
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 2em 4em 0;
  transition: all 200ms;  
  text-align: center;
}
.splash-title, .splash-subtitle {
  display: inline-block;
  padding: 0.1rem 0.5rem;
  z-index: -1;
}
.splash-title {
  margin-top: 3em;
  font-size: var(--large);
  margin-bottom: 0.5em;
  z-index: -1;
}
.splash-subtitle {
  font-size: var(--medium);
  margin-bottom: 1em;
}
.splash-button {
  background: var(--primary-color);
  color: var(--white);
  display: inline-block;
  font-size: 1.5em;
  margin: 0 0.5em 0 0;
  padding: 0.5em 1em;
  text-decoration: none;
}
.separator {
  margin-top: 2em;
}

@media (min-width: 768px) {
  .splash-container {
    text-align: left;
  }
  .splash-title {
    margin-top: 0.5em !important;
    font-size: 3em;
  }
  .splash-subtitle {
    font-size: 2em;
  }
  .splash-title, .splash-subtitle {
    background: rgba(0, 0, 0, 0.5);
    color: var(--white);
    text-align: left;
  }
}