.splash-wrapper {
  position: relative;
}
.splash-container {
  position: relative;
  background-repeat: no-repeat;
  background-size: auto 300px;
  overflow: hidden;
  padding: 2em 4em 0;
  text-align: center;
}
.splash-content-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 10%;
}
.splash-title, .splash-subtitle {
  display: inline-block;
  padding: 0.1rem 0.5rem;
}
.splash-title {
  font-size: var(--large);
  margin-bottom: 0.5em;
}
.splash-subtitle {
  font-size: var(--medium);
  margin-bottom: 1em;
}
.splash-button {
  background: var(--primary-color);
  color: var(--white);
  display: inline-block;
  font-size: 1.5em;
  margin: 0 0.5em 0 0;
  padding: 0.5em 1em;
  text-decoration: none;
}
.separator {
  margin-top: 2em;
}

@media (min-width: 768px) {
  .splash-container {
    background-size: cover;
  }
  .splash-wrapper {
    margin-bottom: 0 !important;
    overflow: hidden !important;
    height: auto !important;
  }
  .splash-container {
    text-align: left;
  }
  .splash-content {
    margin-top: 0 !important;
  }
  .splash-title {
    margin-top: 0.5em !important;
    font-size: 3em;
  }
  .splash-subtitle {
    font-size: 2em;
  }
  .splash-title, .splash-subtitle {
    background: rgba(0, 0, 0, 0.5);
    color: var(--white);
    text-align: left;
  }
}
@media (max-width: 768px) {
  .splash-content {
    opacity: 1 !important;
  }
}