.info {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.info-text-container {
  flex-grow: 1;
  flex-basis: 300px;
  padding: 0 2em 2em;
}
.info-video-container{
  background: #000;
  flex-basis: 400px;
  flex-shrink: 0;
  height: 300px;
  margin: 0 3em;
}