.splash-container {
  background: url("banner1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--white);
  padding: 2em 4em;
  transition: all 200ms;
}
.splash-title, .splash-subtitle {
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding: 0.1rem 0.5rem;
  z-index: -1;
}
.splash-title {
  font-size: 3em;
  margin-bottom: 0.5em;
  z-index: -1;
}
.splash-subtitle {
  
  font-size: 2em;
  margin-bottom: 1em;
}
.splash-button {
  background: var(--primary-color);
  color: var(--white);
  display: inline-block;
  font-size: 1.5em;
  margin: 0 0.5em 0 0;
  padding: 0.5em 1em;
  text-decoration: none;
}