.nav-bar {
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 6em;
  padding: 1em;
  transform: scale(1);
  transition: all 200ms;
}
.small-nav-bar {
  height: 4em;
  transform: scale(0.75);
}
.nav-link {
  color: var(--secondary-color);
  font-size: var(--large);
  text-decoration: none;
}
.nav-link:hover, .nav-link-active {
  color: var(--primary-color);
}