.nav-bar {
  align-items: center;
  background: var(--secondary-color);
  color: white;
  display: flex;
  justify-content: space-around;
  height: 6em;
  padding: 1em;
  transform: scale(1);
  transition: all 200ms;
  z-index: 1;
}
.small-nav-bar {
  height: 4em;
  transform: scale(0.75);
}
.nav-image {
  height: 100%;
}
.nav-link {
  color: var(--white);
  font-size: var(--large);
  text-decoration: none;
}
.nav-link:hover, .nav-link-active {
  border-bottom: 0.1em solid var(--white);
}