.contact-container {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.75em;
}
.contact-text, .contact-information {
  padding: 2em 2em 0;
}
.contact-container>div {
  flex-basis: 300px;
  flex-grow: 1;
  padding-right: 2em;
}